{% extends "layout.html" %} 
{% block body %}

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">About
                        <strong>Visit NI</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive img-border-left" src="../static/img/ireland-antrim-carrickfergus-castle.jpg" alt="">
                </div>
                <div class="col-md-6">
                    <p>Hello and Welcome to Visit NI, we are an online company with the aim of attracting visitors from all around the world to Northern Ireland!</p>
                    <p>We only recommend the best places to visit in each county, so you can enjoy the best of the country we call home.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Our
                        <strong>Team</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-4 text-center">
                    <img class="img-responsive" src="../static/img/me2.jpg" alt="A Photo Of Robert Website Creator">
                    <h3>Robert Jameson
                        <small>Website Creator</small>
                    </h3>
                </div>
                <div class="col-md-8 text-center">
                    <p>Hi i'm Robert and the creator of this website. I am a 19 year old Business Information Technology student. This website was made as a 2nd year university project 07/04/2017! I hope you enjoy the content and would really appreciate feedback via the contact form on the contact us page  </p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

    </div>
{% endblock %}
