{% extends "layout.html" %} 
{% block body %}

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Focus -
                        <strong>Game Of Thrones</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-12">
                    <img class="img-responsive img-border-left" src="../static/img/got.jpg" alt="Image Of Game of Thrones">
                </div>
                <div class="col-md-12">
                    <p>A very popular destination is HBO's star hit Game of Thrones - the</p>
                    <p>"Welcome to Game of Thrones Tours. The epic HBO series is filmed in stunningly beautiful places, most of which are remote and hard to find. We trek you deep into old growth forests, along wild sea cliffs, across rocky beaches, into caves and crumbling medieval ruins. We have Stark and Iron Born cloaks, swords, shields and helms available for use, at no extra cost. Experience the magic. Go all the way, to the real Westeros."</p>
                    <p>All Information is from <a href="http://www.gameofthronestours.com/">Game of Thrones Tours</a></p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
{% endblock %}