{% extends "layout.html" %} 
{% block body %}

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Focus -
                        <strong>Giants Causeway</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-12">
                    <img class="img-responsive img-border-left" src="../static/img/gc.jpg" alt="Image Of Giants Causeway">
                </div>
                <div class="col-md-12">
                    <p>The Giants Causeway offers four different walks for people of varying capability and fitness. With a breathtaking view, and of course the famous basalt columns it really is one of the hottest spots for tourists to go! </p>
                    <p>In 2007 the Giant's Causeway visitor centre received a National Award of Excellence for 'Best Tour Visit' by CIE Tours International, for the 5th consecutive year.</p>
                    <p>The new Visitor Centre, designed by Heneghan Peng opened in July 2012. It has already received well over 300,000 visitors from over 150 countries, along with awards for its sensitive architecture and sustainability.</p>
                    <p>The Visitors Centre is open all year round except Christmas Day and New Years day.</p>
                    <p>An adult ticket costs £8.40, and is a must see area when visiting Northern Ireland, please look at the link below for more information</p>
                    <p>All Information is from <a href="http://www.giantscausewayofficialguide.com//">Giants Causeway Official Guide</a></p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
{% endblock %}