{% extends "layout.html" %} 
{% block body %}
    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="../static/img/slide-1.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="../static/img/slide-2.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="../static/img/slide-3.jpg" alt="">
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                    <h2 class="brand-before">
                        <small>Welcome to</small>
                    </h2>
                    <h1 class="brand-name">Visit Norn Iron'</h1>
                    <hr class="tagline-divider">
                    <h2>
                        <small>By
                            <strong>Robert Jameson</strong>
                        </small>
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">A wee country
                        <strong>worth visiting</strong>
                    </h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="../static/img/slieve-donard.jpg" alt="Slieve Donard">
                    <hr class="visible-xs">
                    <p>Inspirational locations, stunning landscapes and the friendliest of welcomes. See the tourist sites from our destination section in all 6 counties!  </p>
                    <p>Visit Belfast - The Birthplace of the titanic or explore the real Westeros and spend time in Castle Ward (Winterfell)!</p>
                    <p>Enjoy the gorgeous Glens of Antrim, experience one of Europes best kept walled cities in Derry</p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Additional
                        <strong>Support</strong>
                    </h2>
                    <hr>
                   <p> <a href="http://www.discovernorthernireland.com/">Disover Northern Ireland</a></p>
                   <p> <a href="http://visitbelfast.com/">Visit Belfast</a></p>
                    <p><a href="https://www.trivago.co.uk/?cpt=40405303&iRoomType=7&iPathId=404053&aDateRange%5Barr%5D=2017-04-09&aDateRange%5Bdep%5D=2017-04-10&iGeoDistanceItem=0&iViewType=0&bIsSeoPage=false&bIsSitemap=false&">Hotels Trivago Belfast</a></p> 
                   <p><a href="https://www.skyscanner.net/"> Search multiple companies for cheap flights with Skyscanner!</a></p>
                </div>
            </div>
        </div>

    </div>
    
    <!-- /.container -->
{% endblock %}