{% extends "layout.html" %} 
{% block body %}

    <div class="container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">Focus -
                        <strong>Titanic Quarter</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-12">
                    <img class="img-responsive img-border-left" src="../static/img/titanic.png" alt="Image Of Titanic Quarter Belfast">
                </div>
                <div class="col-md-12">
                    <p>Titanic by name, Titanic by nature, Belfast’s Titanic Quarter is one of the world’s largest urban-waterfront regeneration projects. Master-planned over 185 acres on the site where RMS Titanic was designed and built, Titanic Quarter is redefining what it means to work, live, play and stay in central Belfast. We can help you build your future among the inspiring legacy of Belfast’s maritime and industrial past.</p>
                    <p>In the past decade much has been achieved - Titanic Quarter has gone from a master plan to reality as a thriving and bustling destination, attracting over 1 million visitors every year.  With £425 million of investment completed to date, 18,000 people live, work, study and play in Titanic Quarter daily.</p>
                    <p>Fostering Titanic Quarter's community, along with its sense of place and purpose, is as critical to its long-term success as developing some of the most sophisticated and sustainable regeneration projects in Europe.</p>
                    <p>All Information is from <a href="http://titanic-quarter.com/about">Titanic Quarter About</a></p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
{% endblock %}